{
  "ConnectionStrings": {
    "DefaultConnection": "Server=YOUR_SOMEE_SERVER;Database=QuickSwap;User Id=YOUR_LOGIN;Password=YOUR_PASSWORD;TrustServerCertificate=True;"
  },
  "Jwt": {
    "Key": "YOUR_VERY_LONG_SECRET_KEY_AT_LEAST_32_CHARS",
    "Issuer": "QuickSwap",
    "Audience": "QuickSwap"
  },
  "EmailSettings": {
    "SmtpServer": "smtp.gmail.com",
    "SmtpPort": "587",
    "SenderEmail": "YOUR_EMAIL@gmail.com",
    "SenderName": "QuickSwap",
    "Username": "YOUR_EMAIL@gmail.com",
    "Password": "YOUR_EMAIL_APP_PASSWORD",
    "EnableSsl": "true"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}
